<!--Intro Section-->
<section class="view intro-2" id="welcome">
  <div class="full-bg-img mask rgba-stylish-strong">
    <div class="container flex-center">
      <div class="d-flex align-items-center w-100">
        <div class="row flex-center w-100">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <img src="https://media.giphy.com/media/DfbpTbQ9TvSX6/giphy.gif" alt="">
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-warning" mdbWavesEffect (click)="logOut()">Logout</button>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-warning" mdbWavesEffect (click)="getHelloWorld()">GetHelloWorld</button>
            <p btn-warning>{{message}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>